body{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(101,101,167,1) 39%, rgba(0,212,255,1) 100%);
overflow-y: hidden;

}

.formContainer{
  height: 100vh;
  width: 100%;
  display: flex;
align-items: center;
justify-content: center;
}

.formContainer form{
  background-color: white;
  width: 70%;
  max-width: 450px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  box-shadow: 17px 16px 18px -5px #777777;
border-radius: 10px;
}

.uiForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
}

h1{
  text-align: center;
}

.formField{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formField input{
  border: 1px solid gray;
  padding: 20px;
  border-radius: 4px;
}

.formField label{
  font-size: 15px;
  font-weight:600;
  margin-bottom: 3px;
}

button{
  background-color: #186fbb;
  width:100%;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  padding:10px 30px;
  color: white;
  font-size: 15px;
  cursor:pointer;
  transition: all 0.2s;
}

button:hover{
  background-color: #0d548a;
}

.errorMsg{
  color: red;
  margin:0;
  align-self: flex-start;
}